
{{#shapes}}
{{#first}}
.icons
{
    background-image: url('/assets/images/sprites/{{{sprite}}}');
}
.no-svg .icons{
    background-image: url('/assets/images/sprites/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}');
}
{{/first}}
.{{base}} {
        width: {{width.outer}}px;
        height: {{height.outer}}px;
        background-position: {{position.relative.xy}};
}
{{/shapes}}